input {
  margin: 5px 5px;
}

.quill-wrapper, #editor.sc-container {
  background-color: hsl(0, 0%, 100%);
  //border-left: 1px solid hsl(0, 0%, 80%);
  //border-right: 1px solid hsl(0, 0%, 80%);
  box-shadow: 1px 1px 10px gray;
  max-width: 960px;
  min-width: 320px;
  width: 66%;
  margin-top: 10px;
}

textarea.form-control {
  width: 500px;
  margin-left: 7px;
  margin-bottom: 10px;
}

input.form-control {
  width: 200px;
}

body {
  padding-top: 100px;
  margin-left: 50px;
  background-image: url('/img/background.png');
}

.gender, .answer {
  height: 30px;
  margin-right: 379px;
  margin-bottom: 5px;
}

.gender {
  margin-right: 420px;
}

.signin {
  margin-right: 10px;
  margin-left: 5px;
}

.logout {
  margin-top: 7px;
}

.float {
  float: right;
}

.navbar-brand:hover {
  color: none;
}

.profile {
  //margin-top: 100px;
  font-size: 15px;
}

// .courseinfoedit, .stage, .test {
//   margin-top: 100px;
// }

#registration {
  margin: auto;
  text-align: center;
  //width: 575px;
  //margin-top: 75px;
  //background-color: rgba(255,255,255,0.7);
  display: none;
  //padding: 30px;
  //box-shadow: 2px 2px 7px black;
}

.selectimage {
  margin-right: 360px;
}

// #current-courses {
//   float: right;
//   margin-right: 600px;
// }

// .resources, .videos {
//   float: left;
// }

// #progress {
//   float: right;
//   margin-right: 400px;
//   margin-top: -255px;
// }

.resourcestitle, .videostitle {
  width: 300px;
}

.courseimage {
  width: 150px;
}

.sc-bold, .sc-italic, .sc-strike, .sc-underline, .sc-link, .sc-image {
  padding-bottom: 25px;
  padding-right: 20px;
}

#add-link, #add-video, #add-stage {
  margin-left: 5px;
}

.videos {
  margin-left: 300px;
}

.resources {
  margin-left: 50px;
}

#create-content {
  margin-top: 75px;
  margin-right: 1300px;
  margin-left: 55px;
}

.stagequill {
  margin-left: 50px;
}

.stage {
  margin-left: 50px;
}

// .videos {
//   margin-left: 350px;
// }

.stages button {
  margin-left: 5px;
}

.content-stages button {
  margin-left: 5px;
}

.current-courses-box {
  margin-bottom: 10px;
  width: 77%;
}

.current-courses-edit-title {
  margin-bottom: 10px;
}

.current-courses-box > h3 {
  display: inline-block;
  font-size: 20px;
  text-align: left;
  width: 80%;
}

.current-courses-box > a {
  display: inline-block;
  width: 20%;
}

.search {
  margin-left: 150px;
  height: 30px;
}

.searchbutton {
  height: 30px;
  margin-top: 5px;
}

.studentsearch {
  margin: auto;
}

.form-control.question, .form-control.possible-answer {
  display: inline;
}

#create-test {
  margin-left: 5px;
  margin-right: 5px;
}

.add-possible {
  margin-right: 10px;
  margin-left: 5px;
}

.question {
  margin-top: 10px;
}

.modal-footer, .modal-body {
  border: none;
}

.welcome {
  font-size: 100px;
  margin: auto;
  text-align: center;
  margin-top: 250px;
}

.subwelcome {
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.answer {
  margin-left: 5px;
}

.picture, .index-title-box > img {
  width: 150px;
}

.index-title-box, .stage-box {
  display: inline-block;
  vertical-align: top;
}

.index-title-box > img {
  display: inline-block;
}

.stage-box {
  width: 400px;
  // margin-top: 45px;
}

.stage {
  border-bottom: 1px solid black;
  a.btn, a.btn-info {
    float: right;
  }
  a {
    margin-top: 13px;
  }
}

.summary {
  width: 500px;
}

.picture {
  //margin-top: 100px;
  //margin-left: -200px;
  margin-right: 1400px;
}

.userprofile {
  // float: right;
  font-size: 15px;
  //margin-top: 100px;
  //margin-left: -200px;
}

.courses {
  margin-top: 25px;
  font-size: 15px;
  //margin-left: -200px;
}

.title, .summary {
  margin-bottom: 10px;
}

.name, .email, .qualifications, .bio {
  margin-bottom: 5px;
}

.smallpicture {
  width: 40px;
  margin-top: 8px;
  margin-right: 15px;
}

.course-image {
  width: 100px;
}

.courseimage {
  margin-bottom: 10px;
}

.course-title, .content-title {
  font-size: 25px;
}

.course-username {
  font-size: 15px;
}

#course-group {
  display: inline-block !important;
  margin-right: 50px;
}

// #courses {
//   width: 900px;
// }

.courseinfo, .stages {
  display: inline-block;
  vertical-align: top;
}

.stages {
  margin-left: 50px;
  margin-top: 50px;
}

.content-stages {
  margin-top: 50px;
}

// .courseinfo {
//   //margin-top: 100px;
// }
//
// .thumbnail {
//   //margin-top: 100px;
// }

.caption {
  margin: auto;
  text-align: center;
}

li {
  list-style-type: none;
}

.file {
  font-size: 15px;
}

// .courseheading {
//   margin-bottom: 50px;
// }

// .index {
//   margin-top: 100px;
// }

.stage > h3 {
  display: inline-block;
  position: relative;
  margin-right: 12rem;
}

.stage > h3 > a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// .content {
//   margin-top: 100px;
// }
