input {
  margin: 5px 5px;
}

.quill-wrapper {
  background-color: hsl(0, 0%, 100%);
  border-left: 1px solid hsl(0, 0%, 80%);
  border-right: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0px 0px 10px hsl(0, 0%, 80%);
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 320px;
  width: 66%;
}
