extends ../shared/template

block content

  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
         .nav-bar-header
             button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                 span.sr-only Toggle navigation
                 span.icon-bar
                 span.icon-bar
                 span.icon-bar
             .navbar-brand WEB: Teacher
             .float
               .name.navbar-brand Welcome, #{user.firstName} #{user.lastName}
               img.smallpicture(src="/img/#{user._id}/#{user.image}")
               button.logout.btn.btn-danger.login Log Out
         .navbar-collapse.collapse
  .profile

  .container
    .row
      .col-md-6
        h2 Create Course
          form(action='/courses/create', method='POST', enctype='multipart/form-data')
            input.form-control(type='text', name='title', placeholder='Course Title', required)
            textarea.form-control(type='text', name='summary', placeholder='Brief Summary', required)
            input.file(type='file', name='image')
            button.submit.btn.btn-info#new-course Create Course
      .col-md-5
        h2 Current Courses

  //- #create-course
  //-   h2 Create Course
  //-   form(action='/courses/create', method='POST', enctype='multipart/form-data')
  //-     input.form-control(type='text', name='title', placeholder='Course Title', required)
  //-     textarea.form-control(type='text', name='summary', placeholder='Brief Summary', required)
  //-     input(type='file', name='image')
  //-     button.submit.btn.btn-info#new-course Create Course
  //-
  //- #current-courses
  //-   h2 Current Courses
