extends ../shared/template

block content
  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
          .nav-bar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              a.navbar-brand(href='#') WEB: Where Education Begins
          .navbar-collapse.collapse
              form.navbar-form.navbar-right(role='form')
                  .form-group
                      input.form-control(type='text', placeholder='Email')
                  .form-group
                      input.form-control(type='password', placeholder='Password')
                  button.signin.btn.btn-success(type='submit') Sign In
                  button.register.btn.btn-warning(type='submit') Register
  //h1 WEB

  #registration
    form(action='/users/register', method='POST', enctype='multipart/form-data')
      input.form-control.username(type='text', name='username', placeholder='Username', required='required')
      input.form-control.email(type='email', name='email', placeholder='Email', required='required')
      input.form-control.password(type='password', name='password', placeholder='Password', required='required')
      input.form-control.first-name(type='text', name='firstName', placeholder='First Name', required='required')
      input.form-control.last-name(type='text', name='lastName', placeholder='Last Name', required='required')
      input.form-control.age(type='text', name='age', placeholder='Age', required='required')

      select.gender(name='gender')
        option Select Gender
        option Male
        option Female
      textarea.form-control.interests(rows='3', type='text', name='interests', placeholder='Interests')
      textarea.form-control.qualifications(type='text', name='qualifications', placeholder='Teaching Qualifications/Education', required='required')
      textarea.form-control.bio(rows='3', type='text', name='bio', placeholder='Tell us a little about yourself')
      p.selectimage Select a Profile Image:
      input(type='file', name='image')

      button.submit.btn.btn-info Submit

  //- #login
  //-   form(action='/users/login', method='POST')
  //-     input.email(type='email', name='email', placeholder='email')
  //-     input.password(type='password', name='password', placeholder='password')
  //-     button.login Login
