extends ../shared/template

block content
  h1 WEB

  #registration
  p * = Required
    form(action='/users/register', method='POST')
      abbr *
        input.email(type='email', name='email', placeholder='Email', required='required')
      abbr *
        input.password(type='password', name='password', placeholder='Password', required='required')
      abbr *
        input.first-name(type='text', name='firstName', placeholder='First Name', required='required')
      abbr *
        input.last-name(type='text', name='lastName', placeholder='Last Name', required='required')
      abbr *
        input.age(type='text', name='age', placeholder='Age', required='required')
      select.gender(name='gender')
        option Select Gender
        option Male
        option Female
      input.interests(type='text', name='interests', placeholder='Interests')
      input.qualifications(type='text', name='qualifications', placeholder='Teaching Qualifications/Education', required='required')
      input.bio(type='text', name='bio', placeholder='Tell us a little about yourself')
      button.register Submit

  #login
    form(action='/users/login', method='POST')
      input.email(type='email', name='email', placeholder='email')
      input.password(type='password', name='password', placeholder='password')
      button.login Login

  .quill-wrapper
    #toolbar.sc-toolbar-container
      span.sc-format-group
        select.sc-font.sc-picker
          option.sc-font(value='san-serif') Sans Serif
      span.sc-format-group
        select.sc-format-group.sc-size
          option(value='small') Small
          option(value='normal') Normal
          option(value='large') Large
          option(value='huge') Huge
      span.sc-format-group
        button.sc-format-button.sc-bold
      span.sc-format-group
        button.sc-format-button.sc-italic
      span.sc-format-group
        button.sc-format-button.sc-strike
      span.sc-format-group
        button.sc-format-button.sc-underline
      span.sc-format-group
        button.sc-format-button.sc-link

    #editor.sc-container
      p Hello World!
      p Some initial text
      b bold text

//- block links
//-   link(rel='stylesheet', href="http://quilljs.com/css/quill.snow.css")

block links
  link(href="http://quilljs.com/css/quill.snow.css", rel='stylesheet')

block scripts
  script(src='http://quilljs.com/js/quill.js')
  script(src='/js/es6/compiled/quill.js')
