extends ../shared/template

block content
  h1 WEB: Course Creation

  form
    input(type='text', name='title', placeholder='Course Title', required)
    input(type='text', name='summary', placeholder='Brief Summary', required)
    
